@import "tailwindcss";

:root {
  --color-bg-dark: #0D0B1D;
  --color-primary: #1c77bc;
  --color-secondary-purple: #7C65E9;
  --color-accent-orange: #FF7849;
  --color-text-light: #E0E0E0;
  --color-text-muted: #A0A0A0;
  --color-bg-light: #1A1A2E;
}
